{% extends "layout.html" %}
{% block title %}AfghanSMS Reports{% endblock %}
{% block page_stylesheets %}
<!--
<link type="text/css" rel="stylesheet" href="/static/tree/stylesheets/reports.css" />
-->
{% endblock %}
{% block content %}

<form action='' method='post'>
  {{ search_form.as_p }}
  {% csrf_token %}
  <input type='submit' value='Search'/>
</form>


<style>
  table{
    width: 100%;
    border: none;
  }
  td{
    border: none;
  }
</style>

{% if official_results_length > 0 or location_results_length > 0 or message_results_length > 0  %}

  <table>
    <tbody><tr>
      <td valign='top' width='60%'>
        <h2>Official ({{ official_results_length }})</h2>
        <ul>
        {% for result in official_results %}
          <li>{{ result.official_name  }}</li>
        {% endfor  %}
        </ul>
      </td>
      <td valign='top' width='40%'>
        <h2>Location ({{ location_results_length }})</h2>
        <ul>
        {% for result in location_results %}
          <li>{{ result.location }}</li>
        {% endfor  %}
        </ul>
      </td>
    </tr><tbody>
  </table>

  <div id='message_results'>
    <h2>Message ({{ message_results_length }})</h2>
    <ul>
    {% for result in message_results %}
      <li>{{ result.message  }}</li>
    {% endfor  %}
    </ul>
  </div>

{% else %}
  <br/>
  {% if not new_search %}
    No results were found
  {% endif %}
{% endif %}


<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}afghansms_extensions/tablesorter.css" />
<script type="text/javascript" src="{{ MEDIA_URL }}afghansms_extensions/jquery.columnfilters.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}afghansms_extensions/jquery.tablesorter.min.js"></script>
<script>
  $('#report_table').tablesorter();
  $('#report_table').columnFilters({alternateRowClassNames:["even","odd"],wildCard:"",minSearchCharacters:1,excludeColumns:[2]});
</script>
<style>
  td.even {
      background:#DBDBDB;
  }
  td input._filterText {
    width: 100px;
  }
</style>
{% endblock %}
