{% extends "layout.html" %}
{% block title %}AfghanSMS Reports{% endblock %}
{% block page_stylesheets %}
<!--
<link type="text/css" rel="stylesheet" href="/static/tree/stylesheets/reports.css" />
-->
{% endblock %}
{% block content %}
{% load forms-tags %}

<form action='' method='post'>
  {% render_form search_form %}
  {% csrf_token %}
  <input type='submit' value='Search'>
</form>

<div id='official_results'>
  <ul>
  {% for result in official_results %}
    <li>{{ result  }}</li>
  {% endfor  %}
  </ul>
</div>
<div id='location_results'>
  <ul>
  {% for result in location_results %}
    <li>{{ result  }}</li>
  {% endfor  %}
  </ul>
</div>
<div id='report_results'>
  <ul>
  {% for result in report_results %}
    <li>{{ result  }}</li>
  {% endfor  %}
  </ul>
</div>

<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}afghansms_extensions/tablesorter.css" />
<script type="text/javascript" src="{{ MEDIA_URL }}afghansms_extensions/jquery.columnfilters.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}afghansms_extensions/jquery.tablesorter.min.js"></script>
<script>
  $('#report_table').tablesorter();
  $('#report_table').columnFilters({alternateRowClassNames:["even","odd"],wildCard:"",minSearchCharacters:1,excludeColumns:[2]});
</script>
<style>
  td.even {
      background:#DBDBDB;
  }
  td input._filterText {
    width: 100px;
  }
</style>
{% endblock %}
